@tailwind base;
@tailwind components;
@tailwind utilities;

#background-image {
  background-image: url("https://i.ibb.co/NCZdrSK/sports-background-design-abstract-modern-260nw-2071798712-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.link-style {
  @apply hover:text-slate-900 dark:hover:text-slate-50;
}

.active {
  @apply bg-blue-600 text-white;
}
.active:hover {
  @apply bg-blue-600 text-white;
}
.active:focus {
  @apply bg-blue-600 text-white;
}

#img-container div:hover > div {
  height: 100%;
}

#img-container div:hover > div h1 {
  @apply block;
}

/* to create parallex design */
#parallex-1 {
  background-image: url("https://i.ibb.co/THwZtL8/all-sports-background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* hover effect for dashboard list items */
#menu_list > li:hover > a:not(.active) {
  @apply text-slate-900 dark:text-slate-50;
}

/* Swal customization */
/* .swal-modal {
  @apply bg-slate-400/60 dark:bg-slate-600/60;
} */
